
body {
background-color:#181D31;
}

section{
    background-color:#E6DDC4; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    background-color:#E6DDC4;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;

}

footer{
    background-color:#678983 ;
}

main{
    background-color: #678983;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}

h2{
    background-color: #E6DDC4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 20pt;
}
