nav {
    background-color:#E6DDC4;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;

}

body {
background-color:#181D31;
}

main {
    background-color: #678983;
}

footer {
    background-color:#678983;    
}

section {
    background-color:#E6DDC4; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45pt;
}

h2 {
    background-color: #E6DDC4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 20pt;
}

p {
    font-size: 15pt;
}

